<div class="wrapper" style="background-color:white;">
	<div class="container">
		<div class="col-md-3 col-xs-3 md-margin-bottom-40">
			    <img src="http://cafeptthumb4.phinf.naver.net/20160909_48/baekkimok_1473402537204xK3e8_PNG/likelion.PNG?type=w740">
			    <font color="black"> </font>
		</div>
		<div class="col-md-4 col-md-offset-1 map-img md-margin-bottom-60" font-style="Verdata Italic">
			<font color="black">Reebook</font></br></br>
		    <font color="black">추정호 왕대현 신새날 백기목</font></br></br>
			<font color="black">Tel : 010-3326-8300 </font></br></br>
			<font color="black">멋쟁이 사자처럼 X 동국대학교</font></br>
		</div>
	</div>
</div>