<div class="loader"></div>
<!-- Header Carousel -->
<div class="slide-wrapper">

               <div id="homepage-feature" class="carousel slide">
                  <ol class="carousel-indicators">
                     <li data-target="#homepage-feature" data-slide-to="0" class="active"></li>
                     <li data-target="#homepage-feature" data-slide-to="1"></li>
                  </ol>
            
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                     <div class="item active" style="background-image:url(http://i.huffpost.com/gen/1977024/images/n-BOOKS-large570.jpg)">
                        <div class="carousel-caption">
                           <h1 style="font-weight: 600; font-size: 50px;">애물단지 중고 전공서적</h1>
                              <h2>팔아서 돈좀 벌어볼까?</h2>
                                  <form action="/home" method="get">
                                       <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" name="bookname" class="form-control input-lg" placeholder="책이름으로 검색하세요" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info btn-lg" type="submit">
                                                        <i class="glyphicon glyphicon-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                  </form>
                        <% if user_signed_in? %>
                              <button class="btn btn-default" id="main_btn" onclick="location.href='/bookup'">책 등록하기</button>
                        <% else %>
                              <button class="btn btn-default" id="main_btn" onclick="location.href='/users/sign_in'">로그인을 하십시오</button>
                        <% end %>
                        </div>
                     </div>
                  </div>
                  <!-- /.carousel-inner -->
                  <!-- Controls -->
                  
               </div>
               <!-- /#homepage-feature.carousel -->

               <!--<div class="red">-->
               <!--  <div class="red-content">-->
               <!--     Content goes here.-->
            
               <!--  </div>-->
            
            
               <!--</div>-->
               
            </div>
            <!-- /.container.slide-wrapper -->

<section id="main_content">
<div class="container">
    <div class="section-heading" style="margin-top: 40px; margin-bottom: 20px">
            <h1 style="text-align: center; color: #333;"> <i class="fa fa-book fa-3x"></i>판매목록</h1>
        <div class="divider" style="border-bottom: 1px solid black"></div>
    </div>
</div>
<%= render partial: 'home/content' %>
</section>


<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 7000 //changes the speed
    })
    
    
</script>

